.pacificoFont {
    font-family: "Pacifico", cursive;
}

.montserrat {
    font-family: "Montserrat";
}

.crimsonPro {
font-family: 'Crimson Pro', serif;
}

.navbarBtn {
    margin:0;
    padding:0;
    border-style: none;
}

.footer {
    background-color: brown;
    padding-top: 30px;
    padding-bottom: 20px;
}
.row-content {
    padding: 50px 0;
    min-height: 200px;
  }

/* used in text below carousel in home page */
#textCenter {
    width:65%;
}

.carImg {
    width: 100%;
    height: 50vh;
    object-fit:cover;   
}

.cardImg {
    width: 100%;
    height: 40vh;
    object-fit: fill;   
}

#carouselButton {
    position:absolute;
    right:0;
    bottom:0;
    z-index: 10;
}
body {
    margin-top:100px; 
}

/* .opacity {
    /* background: no-repeat center/100% url("../img/ChocSmile5.jpg");
    box-shadow: inset 0 0 0 2000px rgba(161, 161, 157, 0.8);
    height: 30vh;
    width: 100%; */
    
    /* background-image: linear-gradient( rgba(138, 120, 120, 0.1), rgba(131, 113, 113, 0.1) ), url("../img/ChocSmile5.jpg");
    -webkit-font-smoothing: antialiased;  
} */ 



.opacity {
    position: relative; 
    max-height: 40vh;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content:center;
}

.opacity::after {    
      content: "";
      background-image: url("../img/ChocSmile5.jpg");
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.55;
} 

.imgText {
  font-family: 'Crimson Pro', serif;
  position: relative;
  color: black;  
  text-align: center;
  font-weight: bold;
  font-size: 2.5em;
}

.img-footer {
    padding-left: 16px;
}

.btnRnd {
    border-radius: 50%;
}

.map {
  border: 2px solid;
  height: 35vh;
  width: 50vh; 
}

.row-map {
    padding: 50px 0;   
}